

<h2 class="title">Here You Can Update Your Public Profile</h2>

<%= form_for @student do |f| %>

<div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :college %><br />
    <%= f.text_field :college %>
  </div>

  <div class="field">
    <%= f.label :major %> <br />
    <%= f.text_field :major %>
  </div>

  <div class="field">
    <%= f.label :location %> <br />
    <%= f.select :location, ["San Francisco", "Boston", "New York", "Miami"], class: "form-control input-lg"  %>
  </div>

  <div class="field">
    <%= f.label :linkedin %> <br />
    <%= f.text_field :linkedin %>
  </div>

  <div class="field">
    <%= f.label :description %> <br />
    <%= f.text_area :description %>
  </div>

  



  <div class="actions">
    <%= f.submit "Update" %>
  </div>
  <% end %>

