


<div class="container col-xl-6 col-xl-offset-3 col-lg-6 col-lg-offset-3" id="signup">

    <div class="header">

      <h2>Here You Can Update Your Public Profile</h2>

    </div>

    <div class="sep"></div>
     <div class="inputs">

      <%= form_for @student do |f| %>

      <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name %>
        </div>

        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name %>
        </div>

        <div class="field">
          <%= f.label :college %><br />
          <%= f.text_field :college %>
        </div>

        <div class="field">
          <%= f.label :major %> <br />
          <%= f.text_field :major %>
        </div>

        <div class="field">
          <%= f.label :location %> <br />
          <%= f.select :location, ["San Francisco", "Boston", "New York", "Miami"], class: "form-control input-md"  %>
        </div>

        <div class="field">
          <%= f.label :linkedin %> <br />
          <%= f.text_field :linkedin %>
        </div>

        <div class="field">
          <%= f.label :description %> <br />
          <%= f.text_area :description, :class => "textforms" %>
        </div>

        <div class="actions">
          <%= f.submit "Update", :class => "submit" %>
        </div>
        <% end %>

      </div>
    </div>



